Dockerfile*

# Git/Github stuff
.git/
.github/

# Project stuff (directories)
.idea/
cmake-build-*
build/
docker/

# Project stuff (files)
.bumpversion.cfg
Makefile
README.md
VERSION
tests/benchmark.*
tests/tests.cpp
